div{
    margin: 0 auto;
    width: fit-content;
}

.container{
    background-color: #F5F5DD;
    width: 30%;
    height: 50vh;
    padding: 1%;
}

p{
    text-align: center;
}

input{
    width: 8vw;
    margin-left: 25%;
}